body{
  background-color: $color-complementary;
  color: $color-main;
}

.results{
  display: flex;

  & ul{
    list-style: none;
  }
}

.favourites{
  & img{
    width: 70%;
  }
}

.searched{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  & li{
    max-width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
