<main>
    <section class="search">
        <input class="seriesName" type="text">
        <button class="searchButton js-searchBtn">Buscar</button>
    </section>

    <section class="results">
        <ul class="js-favList">
            <li>
                <img src="https://media.istockphoto.com/id/465377790/es/foto/salto-golden-retriever-cachorro.jpg?s=612x612&w=0&k=20&c=HVymMnER-YmYt4ucnHr-_IMFTkctwJJtjgbNUwUnP9g=" alt="">
                <h3>title</h3>
            </li>
        </ul>

        <ul class="js-searchList">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

</main>