<main>
    <section class="search">
        <input class="js-searchText" type="text">
        <button class="searchButton js-searchBtn">Buscar</button>
    </section>

    <section class="results">
        <section class="favourites">
            <h2>Favoritos</h2>
            <button class="favButton js-favBtn">cuántos favoritos</button>
            <ul class="js-favList">
            
            </ul>
        </section>

        <section class="searched">
            <h2>Resultados de la búsqueda</h2>
            <ul class=" js-searchList">
            
            </ul>
        </section>
    </section>

</main>